<script>
  const form = document.querySelector("form");
  const fname = document.querySelector("#firstname");
  const lname = document.querySelector("#lastname");
  const email = document.querySelector("#email");
  const pw = document.querySelector("#password");
  const confirmPw = document.querySelector("#confirmPassword");
  const fnameError = document.querySelector("#firstname + span.error");
  const lnameError = document.querySelector("#lastname + span.error");
  const emailError = document.querySelector("#email + span.error");
  const pwError = document.querySelector("#password + span.error");
  const confirmPwError = document.querySelector(
    "#confirmPassword + span.error",
  );

  const fields = [
    [fname, fnameError],
    [lname, lnameError],
    [email, emailError],
    [pw, pwError],
    [confirmPw, confirmPwError],
  ];

  const passwordMatch = (password, confirmPassord) =>
    password.value === confirmPassword.value;

  fields.forEach(([field, error]) => {
    passwordMatch(pw, confirmPw);
    field.addEventListener("input", () => {
      error.textContent = "";
      if (field.validity.valueMissing) {
        error.textContent = "required";
      }
    });
  });

  form.addEventListener("submit", (e) => {
    fields.forEach(([field, error]) => {
      if (!field.validity.valid) {
        showErrors([field, error]);
        e.preventDefault();
      }
    });
    if (!passwordMatch(pw, confirmPw)) {
      confirmPwError.textContent = "passwords do not match";
    }
  });

  function showErrors([f, e]) {
    if (f.validity.valueMissing) {
      e.textContent = "required";
    } else if (f.validity.typeMismatch) {
      e.textContent = "must be a valid email address";
    } else if (f.validity.tooShort) {
      e.textContent = "must be atleast 8 charcaters long";
    }
  }
</script>
