<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <%- include("header.html") %>
    <main>
      <h1>message board</h1>
      <div>
          <% if (messages) {  %> 
        <ul>
          <% messages.forEach(function (message) { %>
          <li>
            <h2><%= message.title %></h2>
            <p><%= message.message %></p>
            <% if ( signedIn ) { %>
            <% if ( status.membership_status ) { %>
            <span><%= message.firstname %> <%= message.lastname %></span>
            <span><%= String(message.timestamp) %></span>
            <% } %>
            <% if ( status.isadmin ) { %> 
            <form action="/delete/<%= message.message_id %>" method="POST" >
                <button type="submit">DELETE</button>
            </form>
            <% } %>
            <% } %>
          </li>
          <% }) %>
        </ul>
        <% } %>
      </div>
    </main>
  </body>
</html>
