<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <form action="/message" name="message" method="POST" novalidate>
      <ul>
        <li>
          <label for="title">Title</label>
          <input type="text" name="title" id="title" value="<% if (values.title) {%><%= values.title %><% } %>" maxlength="255" required/>
          <span class="error" aria-live="polite" ><% if (errors.title) {%><%= errors.title %><% } %><span>
        </li>
        <li>
          <label
            >Message
            <textarea name="message"  id="message" rows="4" cols="50" maxlength="255" required ><% if (values.message) {%><%= values.message %><% } %></textarea>
          <span class="error" aria-live="polite" ><% if (errors.message) {%><%= errors.message %><% } %><span>
          </label>
        </li>
      </ul>
      <button type="submit">Submit Message</button>
    </form>
  </body>
  <%- include('showErrors.html') %>
  <%- include('clientMessageValidation.html') %>
</html>
